In [53]:
import pandas as pd

chi_food = pd.read_csv('food_source_data_set.csv')
chi_food = chi_food.dropna()
chi_food['license_'] = chi_food['license_'].fillna(0.0)
chi_food['facility_type'] = chi_food['facility_type'].str.lower()
chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ')
chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


zero_license = s12_13.loc[s12_13["license_"] == 0.0]
zero_license
#duplicates
#if 0.0 license then compare by dba_name
#else 

#s12_13.duplicated("license_")

s12_13.drop_duplicates(["license_"], keep='first')
s15_16.drop_duplicates(["license_"], keep='first')
s18_19.drop_duplicates(["license_"], keep='first')

<ipython-input-53-4962c3b38ac5>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ')

,inspection_id,dba_name,license_,facility_type,inspection_date,latitude,longitude
3926,1286054,SOUL GOURMET,0.0,restaurant,2012-05-04,41.779863,-87.644528
160526,1360997,"VINCES PIZZERIA & TAQUERIA, INC",0.0,restaurant,2013-09-17,41.997989,-87.668836
160989,1369440,DREAM DINNERS,0.0,restaurant grocery,2013-10-03,41.939641,-87.681805
161519,1188704,DREAM DINNERS,0.0,restaurant grocery,2013-09-13,41.939641,-87.681805
162178,1360212,ST. EUGENE PARISH,0.0,special event,2013-08-12,41.974731,-87.824747
...,...,...,...,...,...,...,...
194020,1214641,THE SALVATION ARMY/KROC CENTER,0.0,restaurant,2012-05-04,41.677760,-87.653662
195110,670575,RESPECT FOR LIFE,0.0,restaurant,2012-02-16,41.750553,-87.642674
196244,531782,CHICAGO ORIENTAL WHOLESALE MARKET,0.0,wholesale,2012-01-19,41.850968,-87.626238
196714,670698,STRATEGIC HUMAN SERVICES,0.0,after school program,2012-02-21,41.866255,-87.685882
198051,531779,GREATER ENGLEWOOD PARISH,0.0,non for profit basement kit,2012-01-10,41.777789,-87.648232

In [44]:
#function for creating category lists

#df[df['genre'].str.contains('IC')]

#filter into lists: restaurant, grocery store, convenience

#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']
def create_facility_list(df):
    '''
    Input df
    Returns lists of food facility categories
    '''
    #resturant_lst = []
    #convience_lst = []
    #grocery_lst = []

    #for i, value in df.itertuples():
    r = df[df['facility_type'].str.contains('rest')]
        #resturant_lst.append(r)
    c = df[df['facility_type'].str.contains('conv')]
        #convience_lst.append(c)
    g = df[df['facility_type'].str.contains('groc')]
        #grocery_lst.append(g)
    print(len(g))
    return (r, c, g)

In [45]:
(rest, conv, groc) = create_facility_list(s12_13)
type(rest)

5781

pandas.core.frame.DataFrame

#no_license = ['NaN']
#s12_13[s12_13.license_.isin(no_license)]

#df['DataFrame Column'] = df['DataFrame Column'].fillna(0)
sort= s12_13.sort_values("license_")
#sort

#no_license = s12_13.loc[s12_13["license_"] == ' ']
#no_license
# sorting by first name
#data.sort_values("First Name", inplace = True)
 
# dropping ALL duplicate values
#data.drop_duplicates(subset ="First Name",
 #                    keep = False, inplace = True)
 
# displaying data
#data

#med = ATTR.loc[ATTR['Number of pregnancies'] == 'medium']
#chi_food['facility_type'] = chi_food[chi_food['facility_type'].str.contains('res')]




#type = chi_food['facility_type']
#pd.unique(type)


#drop duplicates in a list of list
#
#drop duplicates in pandas
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/