In [5]:
import pandas as pd

Sat_final =  pd.read_csv('food_source_final.csv')
Fri_Final = pd.read_csv('food_source_final_1.csv')
#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']
sat_groc = Sat_final.loc[Sat_final['category'] == "Grocery Store"]
fri_groc = Fri_Final.loc[Fri_Final['category'] == "Grocery Store"]

sat_rest = Sat_final.loc[Sat_final['category'] == "Restaurant"]
fri_rest = Fri_Final.loc[Fri_Final['category'] == "Restaurant"]

sat_con = Sat_final.loc[Sat_final['category'] == "Convenience Store/Gas Station"]
fri_con = Fri_Final.loc[Fri_Final['category'] == "Convenience Store/Gas Station"]

sat_liq =Sat_final.loc[Sat_final['category'] == "Liquor Store"]
fri_liq =Fri_Final.loc[Fri_Final['category'] == "Liquor Store"]

Fri_Final

,Unnamed: 0,inspection_id,dba_name,license_,facility_type,inspection_date,latitude,longitude,year,category
0,163243,1360771,GUSI'S PIZZA,0.0,restaurant,2013-09-09,41.702518,-87.559745,2013,Restaurant
1,164422,1370166,LA MICHOACANA,0.0,restaurant,2013-11-04,41.814161,-87.694531,2013,Restaurant
2,164669,1151592,TAQUERIA CHILE BRAVO,0.0,restaurant,2013-09-03,41.851337,-87.678395,2013,Restaurant
3,168304,1146459,ITALIAN PIZZA KITCHEN,0.0,restaurant,2013-07-03,41.907350,-87.649260,2013,Restaurant
4,172764,1188496,UNLICENSED,0.0,restaurant,2013-01-29,42.019417,-87.684498,2013,Restaurant
...,...,...,...,...,...,...,...,...,...,...
30735,69565,2176301,THE PUBLIC HOUSE THEATRE,2203351.0,liquor,2018-05-25,41.952909,-87.661258,2019,Liquor Store
30736,69883,2150374,APOLLO THEATRE,2560591.0,liquor,2018-03-14,41.927877,-87.652376,2019,Liquor Store
30737,71022,2135951,BARNEY CALLAGHAN'S PUB,2569749.0,liquor,2018-01-25,41.700302,-87.681573,2019,Liquor Store
30738,71203,2144763,BUCKINGHAM HOTEL,2564854.0,liquor,2018-02-08,41.875888,-87.631885,2019,Liquor Store
30739,74770,2130081,STRAWDOG THEATRE COMPANY,2549954.0,liquor,2018-01-09,41.951593,-87.674274,2019,Liquor Store

In [2]:
## Data processing of the food_source_data

import pandas as pd

def clean_main_data(filename):
    '''
    
    '''
    (df_2013, df_2016, df_2019)= create_year_df(filename)

    final_df13 = merge_df(df_2013, 2013)
    final_df15 = merge_df(df_2016, 2016)
    final_df19 = merge_df(df_2019, 2019)

    final_df_lst = [final_df13, final_df15, final_df19]
    final_food_df = pd.concat(final_df_lst)
    
    return final_food_df

In [3]:
def create_year_df(filename):
    '''
    
    '''
    chi_food = pd.read_csv(filename)
    chi_food = chi_food.dropna()
    chi_food['license_'] = chi_food['license_'].fillna(0.0)
    chi_food['facility_type'] = chi_food['facility_type'].str.lower()
    chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
    chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

    s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
    s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
    s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


    s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
    df12_13 = s12_13.drop_duplicates(["license_"], keep='first')

    s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
    df15_16= s15_16.drop_duplicates(["license_"], keep='first')

    s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
    df18_19 = s18_19.drop_duplicates(["license_"], keep='first') 

    return (df12_13, df15_16, df18_19)

In [2]:
import pandas as pd

def create_year_df(FOOD_FILE):
    '''
    
    '''
    chi_food = pd.read_csv(FOOD_FILE)
    chi_food = chi_food.dropna()
    chi_food['license_'] = chi_food['license_'].fillna(0.0)
    chi_food['dba_name'] = chi_food['dba_name'].str.lower()
    chi_food['dba_name'] = chi_food['dba_name'].str.replace(r'[^\w\s]+', ' ', regex=True)
    chi_food['facility_type'] = chi_food['facility_type'].str.lower()
    chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
    chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

    s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
    s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
    s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]

    s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
    zero_license_13 = s12_13.loc[s12_13['license_'] == 0.0]
    zero_df_13 = zero_license_13.iloc[1: ]
    df12_13 = s12_13.drop_duplicates(["license_"], keep='first')
    df12_13_fin = pd.concat([zero_df_13, df12_13])
    
    s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
    zero_license_16 = s15_16.loc[s15_16['license_'] == 0.0]
    zero_df_16 = zero_license_16.iloc[1: ]
    df15_16= s15_16.drop_duplicates(["license_"], keep='first')
    df15_16_fin = pd.concat([zero_df_16, df15_16])
    
    s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
    zero_license_19 = s18_19.loc[s18_19['license_'] == 0.0]
    zero_df_19 = zero_license_19.iloc[1: ]
    df18_19 = s18_19.drop_duplicates(["license_"], keep='first') 
    df18_19_fin = pd.concat([zero_df_19, df18_19])

    return (df12_13_fin, df15_16_fin, df18_19_fin)

In [15]:
def create_facility_dfs(df, year):
    '''
    Input df
    Returns 1 df for the given year
    '''

    df = df.reindex(columns = df.columns.tolist() + ['year'], fill_value = year)

    df_liquor = df[df['facility_type'].str.contains('liq') | df['dba_name'].str.contains('beverage')]
    df_liquor_final = df_liquor.reindex(columns = df_liquor.columns.tolist() + ['category'], \
        fill_value = 'Liquor Store') 
    
    df_convenience = df[df['facility_type'].str.contains('conv | gas') | \
        df['dba_name'].str.contains('gas sta')]
    df_convenience_final = df_convenience.reindex(columns = df_convenience.columns.tolist() \
        + ['category'], fill_value = 'Convenience Store/Gas Station')

    df_grocery = df[df['facility_type'].str.contains('groc')]
    df_grocery_final = df_grocery.reindex(columns = df_grocery.columns.tolist() + ['category'], \
        fill_value = 'Grocery Store') 

    df_restaurant = df[df['facility_type'].str.contains('rest')]
    df_restaurant_final = df_restaurant.reindex(columns = df_restaurant.columns.tolist() \
        + ['category'], fill_value = 'Restaurant')

    df_years_lst = [df_liquor_final, df_convenience_final, df_grocery_final, df_restaurant_final]
    
    return df_years_lst

In [24]:
def merge_df(df, year):
    '''
    
    '''
    df_years_lst = create_facility_dfs(df, year)
    final_duplicates = pd.concat(df_years_lst)
    final = final_duplicates.drop_duplicates(['dba_name'], keep='first')
    zero_license_final = final.loc[final['license_'] == 0.0]
    zero_df_final = zero_license_final.iloc[1: ]
    final_df = final.drop_duplicates(["license_"], keep='first') 
    final_master_df = pd.concat([zero_df_final, final_df])

    return final_master_df

In [ ]:
(a, b, c) = create_year_df('food_source_data_set.csv')
(liq, con, groc, rest) = create_facility_dfs(a, 2013)
df_13 = merge_df(a, 2013)
#df_13
test = df_13[df_13['dba_name'].str.contains('gas sta')]
test
#groc
#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']

In [ ]:
import pandas as pd

# Function clean_data
chi_food = pd.read_csv('food_source_data_set.csv')
chi_food = chi_food.dropna()
chi_food['license_'] = chi_food['license_'].fillna(0.0)
chi_food['facility_type'] = chi_food['facility_type'].str.lower()
chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
df12_13 = s12_13.drop_duplicates(["license_"], keep='first')

s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
df15_16= s15_16.drop_duplicates(["license_"], keep='first')

s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
dfs18_19 = s18_19.drop_duplicates(["license_"], keep='first') 

#return (df12_13, df15_16, df18_19)

##Function create year (df, year)

df13 = df12_13.reindex(columns = df12_13.columns.tolist() + ['year'], fill_value = 2013)

df13_restaurant = df13[df13['facility_type'].str.contains('rest')]
df13_restaurant_final = df13_restaurant.reindex(columns = df13_restaurant.columns.tolist() + ['category'], fill_value = 'Restaurant')

df13_convenience = df13[df13['facility_type'].str.contains('conv')]
df13_convenience_final = df13_convenience.reindex(columns = df13_convenience.columns.tolist() + ['category'], fill_value = 'Convenience Store')

df13_grocery = df13[df13['facility_type'].str.contains('groc')]
df13_grocery_final = df13_grocery.reindex(columns = df13_grocery.columns.tolist() + ['category'], fill_value = 'Grocery Store')



#Check resturant and grocery df to see if there are duplicates

#Combine into 1 df
##returns dfyr_final

#Function create master df(all dfs)
frames = [df13_restaurant_final, df13_convenience_final, df13_grocery_final]
  
result = pd.concat(frames)


final = result.drop_duplicates(['dba_name'], keep='first')
final_final = final.drop_duplicates(["license_"], keep='first') 
print(final_final)
#returns master_df

#  df13_years_lst = create_facility_dfs(df_2013, 2013)
df16_years_lst = create_facility_dfs(df_2016, 2016)
df19_years_lst = create_facility_dfs(df_2019, 2019)

In [44]:
#function for creating category lists

#df[df['genre'].str.contains('IC')]

#filter into lists: restaurant, grocery store, convenience

#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']
def create_facility_list(df):
    '''
    Input df
    Returns lists of food facility categories
    '''
    #resturant_lst = []
    #convience_lst = []
    #grocery_lst = []

    #for i, value in df.itertuples():
    r = df[df['facility_type'].str.contains('rest')]
        #resturant_lst.append(r)
    c = df[df['facility_type'].str.contains('conv')]
        #convience_lst.append(c)
    g = df[df['facility_type'].str.contains('groc')]
        #grocery_lst.append(g)
    print(len(g))
    return (r, c, g)

In [ ]:
chi_food = chi_food.dropna()
    chi_food['license_'] = chi_food['license_'].fillna(0.0)
    chi_food['facility_type'] = chi_food['facility_type'].str.lower()
    chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
    chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

    s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
    s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
    s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]

    s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
    zero_license_13 = s12_13.loc[s12_13['license_'] == 0.0]
    zero_df_13 = zero_license_13.iloc[1: ]
    df12_13 = s12_13.drop_duplicates(["license_"], keep='first')
    pd.concat(df_years_lst)