In [2]:
## Data processing of the food_source_data

import pandas as pd

def clean_main_data(filename):
    '''
    
    '''
    (df_2013, df_2016, df_2019)= create_year_df(filename)

    final_df13 = merge_df(df_2013, 2013)
    final_df15 = merge_df(df_2016, 2016)
    final_df19 = merge_df(df_2019, 2019)

    final_df_lst = [final_df13, final_df15, final_df19]
    final_food_df = pd.concat(final_df_lst)
    
    return final_food_df

In [3]:
def create_year_df(filename):
    '''
    
    '''
    chi_food = pd.read_csv(filename)
    chi_food = chi_food.dropna()
    chi_food['license_'] = chi_food['license_'].fillna(0.0)
    chi_food['facility_type'] = chi_food['facility_type'].str.lower()
    chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
    chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

    s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
    s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
    s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


    s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
    df12_13 = s12_13.drop_duplicates(["license_"], keep='first')

    s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
    df15_16= s15_16.drop_duplicates(["license_"], keep='first')

    s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
    df18_19 = s18_19.drop_duplicates(["license_"], keep='first') 

    return (df12_13, df15_16, df18_19)

In [20]:
(df_13, df_16, df_19) = create_year_df('food_source_data_set.csv')

list_19 = create_facility_dfs(df_19, 2019)

df13_final = merge_df(df_13, 2013)

df13_final

,inspection_id,dba_name,license_,facility_type,inspection_date,latitude,longitude,year,category
3196,1376180,"IRVING PARK KKC, INC",2304021.0,restaurant,2013-12-26,41.953228,-87.771956,2013,Restaurant
3197,1391349,CORNER SHOP INC.,1969213.0,restaurant,2013-12-24,41.968115,-87.729554,2013,Restaurant
3198,1391347,"1st HUNAN SPRING, INC",2303648.0,restaurant,2013-12-23,41.977041,-87.754428,2013,Restaurant
3200,1383325,Stans Donuts,2294414.0,restaurant,2013-12-20,41.909995,-87.677599,2013,Restaurant
3202,1376138,SCOOTER'S FROZEN CUSTARD LLC,1329995.0,restaurant,2013-12-19,41.939775,-87.670975,2013,Restaurant
...,...,...,...,...,...,...,...,...,...
197983,670227,KARLOV GROCERY,1767193.0,grocery store,2012-01-30,41.872250,-87.727668,2013,Grocery Store
197987,660080,US MARATHON OIL INC.,2134295.0,grocery store,2012-01-19,41.798505,-87.684302,2013,Grocery Store
198133,666326,ARCHI,2137052.0,grocery store,2012-01-20,41.889875,-87.624260,2013,Grocery Store
198165,586284,CARNICERIA ROMAN,1381866.0,grocery store,2012-01-05,41.917410,-87.693651,2013,Grocery Store
198475,659945,Boriken,1649303.0,grocery store,2012-01-10,41.903102,-87.689552,2013,Grocery Store

In [4]:
def create_facility_dfs(df, year):
    '''
    Input df
    Returns 1 df for the given year
    '''
    
    df = df.reindex(columns = df.columns.tolist() + ['year'], fill_value = year)

    df_restaurant = df[df['facility_type'].str.contains('rest')]
    df_restaurant_final = df_restaurant.reindex(columns = df_restaurant.columns.tolist() \
        + ['category'], fill_value = 'Restaurant')

    df_convenience = df[df['facility_type'].str.contains('conv')]
    df_convenience_final = df_convenience.reindex(columns = df_convenience.columns.tolist() \
        + ['category'], fill_value = 'Convenience Store')

    df_grocery = df[df['facility_type'].str.contains('groc')]
    df_grocery_final = df_grocery.reindex(columns = df_grocery.columns.tolist() + ['category'], \
        fill_value = 'Grocery Store') 
    
    df_years_lst = [df_restaurant_final, df_convenience_final,  df_grocery_final]
    
    return df_years_lst

In [1]:
def merge_df(df, year):
    '''
    
    '''
    df_years_lst = create_facility_dfs(df, year)
    final_duplicates = pd.concat(df_years_lst)
    final = final_duplicates.drop_duplicates(['dba_name'], keep='first')
    final_df = final.drop_duplicates(["license_"], keep='first') 
   
    return final_df

In [ ]:
import pandas as pd

# Function clean_data
chi_food = pd.read_csv('food_source_data_set.csv')
chi_food = chi_food.dropna()
chi_food['license_'] = chi_food['license_'].fillna(0.0)
chi_food['facility_type'] = chi_food['facility_type'].str.lower()
chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
df12_13 = s12_13.drop_duplicates(["license_"], keep='first')

s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
df15_16= s15_16.drop_duplicates(["license_"], keep='first')

s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
dfs18_19 = s18_19.drop_duplicates(["license_"], keep='first') 

#return (df12_13, df15_16, df18_19)

##Function create year (df, year)

df13 = df12_13.reindex(columns = df12_13.columns.tolist() + ['year'], fill_value = 2013)

df13_restaurant = df13[df13['facility_type'].str.contains('rest')]
df13_restaurant_final = df13_restaurant.reindex(columns = df13_restaurant.columns.tolist() + ['category'], fill_value = 'Restaurant')

df13_convenience = df13[df13['facility_type'].str.contains('conv')]
df13_convenience_final = df13_convenience.reindex(columns = df13_convenience.columns.tolist() + ['category'], fill_value = 'Convenience Store')

df13_grocery = df13[df13['facility_type'].str.contains('groc')]
df13_grocery_final = df13_grocery.reindex(columns = df13_grocery.columns.tolist() + ['category'], fill_value = 'Grocery Store')



#Check resturant and grocery df to see if there are duplicates

#Combine into 1 df
##returns dfyr_final

#Function create master df(all dfs)
frames = [df13_restaurant_final, df13_convenience_final, df13_grocery_final]
  
result = pd.concat(frames)


final = result.drop_duplicates(['dba_name'], keep='first')
final_final = final.drop_duplicates(["license_"], keep='first') 
print(final_final)
#returns master_df

#  df13_years_lst = create_facility_dfs(df_2013, 2013)
    df16_years_lst = create_facility_dfs(df_2016, 2016)
    df19_years_lst = create_facility_dfs(df_2019, 2019)

In [44]:
#function for creating category lists

#df[df['genre'].str.contains('IC')]

#filter into lists: restaurant, grocery store, convenience

#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']
def create_facility_list(df):
    '''
    Input df
    Returns lists of food facility categories
    '''
    #resturant_lst = []
    #convience_lst = []
    #grocery_lst = []

    #for i, value in df.itertuples():
    r = df[df['facility_type'].str.contains('rest')]
        #resturant_lst.append(r)
    c = df[df['facility_type'].str.contains('conv')]
        #convience_lst.append(c)
    g = df[df['facility_type'].str.contains('groc')]
        #grocery_lst.append(g)
    print(len(g))
    return (r, c, g)

In [ ]:
import geopandas as gpd

df = gpd.read_file('acs.geojson')

df