In [ ]:
import pandas as pd

# Function clean_data
chi_food = pd.read_csv('food_source_data_set.csv')
chi_food = chi_food.dropna()
chi_food['license_'] = chi_food['license_'].fillna(0.0)
chi_food['facility_type'] = chi_food['facility_type'].str.lower()
chi_food['facility_type'] = chi_food['facility_type'].str.replace(r'[^\w\s]+', ' ', regex=True)
chi_food['inspection_date'] = pd.to_datetime(chi_food['inspection_date'], format='%Y-%m-%d')

s12_13 = chi_food.loc[(chi_food['inspection_date'] >= '2012-01-01') & (chi_food['inspection_date'] < '2013-12-31')]
s15_16 = chi_food.loc[(chi_food['inspection_date'] >= '2015-01-01') & (chi_food['inspection_date'] < '2016-12-31')]
s18_19 = chi_food.loc[(chi_food['inspection_date'] >= '2018-01-01') & (chi_food['inspection_date'] < '2019-12-31')]


s12_13 = s12_13.drop_duplicates(['dba_name'], keep='first')
df12_13 = s12_13.drop_duplicates(["license_"], keep='first')

s15_16 = s15_16.drop_duplicates(['dba_name'], keep='first')
df15_16= s15_16.drop_duplicates(["license_"], keep='first')

s18_19 = s18_19.drop_duplicates(['dba_name'], keep='first')
dfs18_19 = s18_19.drop_duplicates(["license_"], keep='first') 

#return (df12_13, df15_16, df18_19)

##Function create year (df, year)

df13 = df12_13.reindex(columns = df12_13.columns.tolist() + ['year'], fill_value = 2013)

df13_restaurant = df13[df13['facility_type'].str.contains('rest')]
df13_restaurant_final = df13_restaurant.reindex(columns = df13_restaurant.columns.tolist() + ['category'], fill_value = 'Restaurant')

df13_convenience = df13[df13['facility_type'].str.contains('conv')]
df13_convenience_final = df13_convenience.reindex(columns = df13_convenience.columns.tolist() + ['category'], fill_value = 'Convenience Store')

df13_grocery = df13[df13['facility_type'].str.contains('groc')]
df13_grocery_final = df13_grocery.reindex(columns = df13_grocery.columns.tolist() + ['category'], fill_value = 'Grocery Store')

#Check resturant and grocery df to see if there are duplicates

#Combine into 1 df
##returns dfyr_final

#Function create master df(all dfs)
frames = [df13_restaurant_final, df13_convenience_final, df13_grocery_final]
  
result = pd.concat(frames)


final = result.drop_duplicates(['dba_name'], keep='first')
final_final = final.drop_duplicates(["license_"], keep='first') 
print(final_final)
#returns master_df

In [44]:
#function for creating category lists

#df[df['genre'].str.contains('IC')]

#filter into lists: restaurant, grocery store, convenience

#rest = chi_food.loc[chi_food['facility_type'] == 'restaurant']
def create_facility_list(df):
    '''
    Input df
    Returns lists of food facility categories
    '''
    #resturant_lst = []
    #convience_lst = []
    #grocery_lst = []

    #for i, value in df.itertuples():
    r = df[df['facility_type'].str.contains('rest')]
        #resturant_lst.append(r)
    c = df[df['facility_type'].str.contains('conv')]
        #convience_lst.append(c)
    g = df[df['facility_type'].str.contains('groc')]
        #grocery_lst.append(g)
    print(len(g))
    return (r, c, g)

In [2]:
import geopandas as gpd

df = gpd.read_file('acs.geojson')

df

,GEOID,total_pop,n_white,n_black,n_asian,n_hispanic,n_poverty,median_household_income,median_home_value,tract,year,p_poverty,p_black,p_white,p_hispanic,p_asian,geometry
0,17031640300,6828.0,5808.0,12.0,41.0,3040.0,425.0,63900.0,208700.0,640300,2013,0.062244,0.001757,0.850615,0.445226,0.006005,"POLYGON ((-9771796.22000 5128829.34000, -97717..."
1,17031190702,4923.0,1756.0,256.0,30.0,3895.0,965.0,42776.0,199700.0,190702,2013,0.196019,0.052001,0.356693,0.791184,0.006094,"POLYGON ((-9770081.01000 5150213.01000, -97698..."
2,17031252102,5938.0,0.0,5938.0,0.0,0.0,2065.0,27665.0,204100.0,252102,2013,0.347760,1.000000,0.000000,0.000000,0.000000,"POLYGON ((-9769939.97000 5143057.72000, -97699..."
3,17031191100,7561.0,2195.0,624.0,32.0,6622.0,1938.0,43308.0,191100.0,191100,2013,0.256315,0.082529,0.290306,0.875810,0.004232,"POLYGON ((-9768969.49000 5149617.81000, -97689..."
4,17031251800,4932.0,9.0,4896.0,0.0,0.0,2111.0,20750.0,176900.0,251800,2013,0.428021,0.992701,0.001825,0.000000,0.000000,"POLYGON ((-9768879.43000 5144188.56000, -97688..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4643,17031836500,1963.0,44.0,1895.0,0.0,0.0,312.0,45930.0,377000.0,836500,2019,0.158940,0.965359,0.022415,0.000000,0.000000,"POLYGON ((-9752592.94000 5135727.76000, -97525..."
4644,17031430101,3199.0,39.0,3131.0,0.0,55.0,948.0,32122.0,151400.0,430101,2019,0.296343,0.978743,0.012191,0.017193,0.000000,"POLYGON ((-9748969.94000 5127104.43000, -97489..."
4645,17031480100,2175.0,15.0,2158.0,0.0,7.0,294.0,60000.0,142600.0,480100,2019,0.135172,0.992184,0.006897,0.003218,0.000000,"POLYGON ((-9749988.51000 5121651.39000, -97499..."
4646,17031460302,3322.0,357.0,2833.0,0.0,237.0,965.0,28470.0,118500.0,460302,2019,0.290488,0.852800,0.107465,0.071343,0.000000,"POLYGON ((-9747288.90000 5123871.75000, -97472..."
4647,17031460200,2468.0,1312.0,1000.0,0.0,1266.0,904.0,28363.0,90500.0,460200,2019,0.366288,0.405186,0.531605,0.512966,0.000000,"POLYGON ((-9746328.77000 5122804.18000, -97463..."

#no_license = ['NaN']
#s12_13[s12_13.license_.isin(no_license)]

#df['DataFrame Column'] = df['DataFrame Column'].fillna(0)
sort= s12_13.sort_values("license_")
#sort

#no_license = s12_13.loc[s12_13["license_"] == ' ']
#no_license
# sorting by first name
#data.sort_values("First Name", inplace = True)
 
# dropping ALL duplicate values
#data.drop_duplicates(subset ="First Name",
 #                    keep = False, inplace = True)
 
# displaying data
#data

#med = ATTR.loc[ATTR['Number of pregnancies'] == 'medium']
#chi_food['facility_type'] = chi_food[chi_food['facility_type'].str.contains('res')]




#type = chi_food['facility_type']
#pd.unique(type)


#drop duplicates in a list of list
#
#drop duplicates in pandas
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/